body {
    background: linear-gradient(to right,violet, rgb(0, 191, 255));
  }


  .body {
    text-align: center;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
}


  
  .image {
    background-image: url("image/Logo osito.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    color: #000000;
    margin-right: 50px;
  
  }

.image {
   align-self: flex-start;
}

.image { 
 width: 120;
 height: 120px;
 text-align: left;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 list-style: none;
}

.body {
 font-family: Arial, Helvetica, sans-serif;
}
#FF69B4;
#1E90FF;
#1E90FF;

.co-3 {
   max-width: 1200px;
   margin: 0 auto;      
}

.image { 
  width: 120;
  height: 120px;
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.body {
  font-family: Arial, Helvetica, sans-serif;
}


.co-3 {
    max-width: 1200px;
    margin: 0 auto;      
}

.menu  {
   min-height: 80px;
   background: #1E90FF;
   padding: 25px; 
   margin-top: 55px;      
}

.menu {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Ingre {
  font-size: 25px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

  .menu .navbar ul li {
    position: relative;
    float:left;
}

.menu .navbar ul li  {
    font-size: relative;
    padding: 20px;
    color: #DEDEDE; 
    display: block;
    font-weight: bold;
}

.menu .navbar ul li  {
    color: #ffffff;
}

