.contein {
    max-width: 1200px;
    margin: 0 auto;
}

.contein-0 {
    min-height: 80px;
    background: #279ad4;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.menu .navbar ul li {
    position: relative;
    float:left;
}

.menu .navbar ul li a {
    font-size: relative;
    padding: 20px;
    color: #DEDEDE; 
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover {
    color: #4AD398;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
} 

@media(max-width:991px) {

    .content {
        min-height: 70px;
    }

    .menu {
        top: 0;
        padding: 20px;
    }
    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #279ad4;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    menu:checked ~ .navbar {
        display: block;
    }
}


.img {
    margin: 150px auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-1{
    margin-left: 10px;
}

.cont-3 {
    width: 350px;
    height: 250px;
}

.icon-3 {
    margin: 5px auto;
    width: 5%;
    display: flex;
  

}

