body {
background: linear-gradient(to right,violet, rgb(255,218,185)) ;
}


.image {
     background-image: url("image/Logo osito.jpg");
     background-size: contain;
     background-repeat: no-repeat;
     height: 150px;
     width: 150px;
     color: #000000;
     margin-right: 50px;
   
   }

.image {
    align-self: flex-start;
}

.image { 
  width: 120;
  height: 120px;
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.body {
  font-family: Arial, Helvetica, sans-serif;
}


.contein-0 {
    max-width: 1200px;
    margin: 0 auto;      
}

.contein {
   min-height: 80px;
   background: #FF69B4;
   padding: 25px; 
   margin-top: 55px;         
}

.menu {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LaPasteleria {
  font-size: 25px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

  .menu .navbar ul li {
    position: relative;
    float:left;
}

.menu .navbar ul li  {
    font-size: relative;
    padding: 20px;
    color: #DEDEDE; 
    display: block;
    font-weight: bold;
}

.menu .navbar ul li  {
    color: #ffffff;
}

  .pra {
    text-align: center;
    padding: 25px; 
    margin-top: 45px;
  }

.Cafe {
    width: 230;
    height: 230px;
    border-radius: 50%;
    margin-left: 25px;
  }
  
  .Cafe {
    text-align: center;
  }

  .Fresacrem {
    width: 150;
    height: 150px;
    border-radius: 50%;
    margin-left: 25px;
  }
  
  .Fresacrem {
    text-align: center;
  }
  
  .Vanillachoco {
    width: 150;
    height: 150px;
    border-radius: 50%;
    margin-left: 25px;
  }
  
  .Vanillachoco {
    text-align: center;
  }
  
  .Tartamelocot {
    margin-top: 35px;
  }
  
  .Tartamelocot {
   width: 190;
   height: 190px;
   border-radius: 50%;
   margin-left: 25px;
   background-color: hotpink;
   padding: 25px; 
   margin-top: 45px;  
   text-align: center;
  }
  
  .Tartamelocot {
    text-align: center;
  }
  
  .Napoles {
    margin-top: 35px;
  }
  
  .Napoles {
   width: 180;
   height: 180px;
   border-radius: 50%;
   margin-left: 25px;
   background-color: hotpink;
   padding: 25px; 
   margin-top: 45px;  
   text-align: center;
  }
  
  .Napoles {
    text-align: center;
  }
  
  .Zanahoria {
    margin-top: 35px;
  }
  
  .Zanahoria {
   width: 180;
   height: 180px;
   border-radius: 50%;
   margin-left: 25px;
   background-color: hotpink;
   padding: 25px; 
   margin-top: 45px;  
   text-align: center;
  }
  
  .Zanahoria {
   text-align: center;
  }
  
  .Tresleches {
   margin-top: 35px; 
  }
  
  .Tresleches {
   width: 180;
   height: 180px;
   border-radius: 50%;
   margin-left: 25px;
   background-color: hotpink;
   padding: 25px; 
   margin-top: 45px;  
   text-align: center;
  }
  
  .Tresleches {
   text-align: center;
  }
  
  .personali {
   margin-top: 35px;
  }
  
  .personali {
   width: 200;
   height: 200px;
   border-radius: 50%;
   margin-left: 25px;
   background-color: hotpink;
   padding: 25px; 
   margin-top: 45px;  
   text-align: center;
  }
  
  .personali {
   text-align: center;
  }
  
  .Mokanuez {
   margin-top: 35px;
  }
  
  .Mokanuez {
   width: 180;
   height: 180px;
   border-radius: 50%;
   margin-left: 25px;
   background-color: hotpink;
   padding: 25px; 
   margin-top: 45px;  
   text-align: center;
  }
  
  .Mokanuez {
   text-align: center;
  }
  
  .Chocolatefruta {
   margin-top: 35px;
  }
  
  .Chocolatefruta {
    margin-bottom: 35px;  
  }
  
  .Chocolatefruta {
   width: 170;
   height: 170px;
   border-radius: 50%;
   margin-left: 25px;
   background-color: hotpink;
   padding: 25px; 
   margin-top: 45px;  
   text-align: center;
  }
  
  .Chocolatefruta {
    text-align: center;
  
  
  }

  .conteiner-1 {
    display: flex;
    justify-content: center;
    margin-top: 135px;
}

 
.conteiner-2 {
  display: flex;
  justify-content: center;
  margin-top: 135px;
}


.conteiner-3 {
  display: flex;
  justify-content: center;
  margin-top: 135px;
}










  .QuesoFramb {
    margin-top: 35px;
  }

  .Quesoframb {
    margin-bottom: 35px;
    width: 150;
    height: 150px;
    border-radius: 50%;
    margin-right: 25px;
    background-color: hotpink;
    padding: 25px; 
    margin-top: 45px;  
    text-align: center;
  }

  .QuesoPiña {
    margin-bottom: 35px;
    margin-top: 35px;
    width: 170;
    height: 170px;
   border-radius: 50%;
   margin-left: 25px;
   background-color: hotpink;
   padding: 25px; 
   margin-top: 45px;  
   text-align: center;
  }

  .Browniecajet { 
    margin-bottom: 35px;
  }

  .Browniecajet {
    width: 140;
    height: 140px;
    margin-left: 25px;
    border-radius: 50%;
    background-color: hotpink;
    padding: 25px; 
    margin-top: 45px;      
  }

  .Browniecajet {
    text-align: center;
  }

  .Chocoflan {
    margin-bottom: 35px;
  }

  .Chocoflan {
    width: 180;
    height: 180px;
    border-radius: 50%;
    margin-left: 25px;
    background-color: hotpink;
    padding: 25px; 
    margin-top: 45px;     
  }   

  .Chocoflan {
    text-align: center;
  }

  .Tartaletafrut {  
    margin-bottom: 35px;
  }

  .Tartaletafrut { 
    width: 140;
    height: 140px;
    border-radius: 50%;
    margin-left: 25px;
    background-color: hotpink;
    padding: 25px; 
    margin-top: 45px;  
  }

  .Tartaletafrut {  
    text-align: center;
  }

  .Tiramisu {
    margin-bottom: 35px;
  }

  .Tiramisu {
    width: 140;
    height: 140px;
    border-radius: 50%;
    margin-left: 25px;
    background-color: hotpink;
    padding: 25px; 
    margin-top: 45px;  
  }

  .Tiramisu {
    text-align: center;
  }


  .facebook {
      background: #3b5998;
      text-indent: -999cm;
      display: inline-block;
      width: 100px;
      height: 110px;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      border: 15px solid #3b5988;
      border-bottom: 0;
  }

 .facebook::before {
     background: #3b5998;
     content: "/20";
     position: absolute;
     bottom: -30px;
     right: 40px;
     width: 40px;
     height: 90px;
     border-radius: 20px solid #eeee;
     border-radius: 25px;
 }

 .facebook::after {
     background: #eeee;
     content: "/20";
     position: absolute;
     top: 50px;
     right: 5px;
     width: 55;
     height: 20px;
 }



.conten-1 {
    display: flex;
    justify-content: center;
    margin-top: 135px;
    background-color: hotpink ;
    padding: 25px; 
    margin-top: 45px;       
}

.conteiner-1 {
    display: flex;
    justify-content: center;
    margin-top: 135px;
}

.conteiner-2 {
  display: flex;
  justify-content: center;
  margin-top: 135px;
}

.conteiner-3 {
  display: flex;
  justify-content: center;
  margin-top: 135px;
}

.cont-101 {
margin-top: 100px;
display: flex;
padding: 25px;
color: #fff;
justify-content: center;

}


body {
    text-align: center;
}

.text-1 {
      
    color: rgb(255, 255, 255);
    font-family:'Pacifico', cursive;
    font-size: 55px; 
    text-transform: 600;
    text-shadow: 2px 5px #000;
}

.img {
    display: flex;
    margin-bottom: 35px; 
    justify-content: center
}

.img {
   width: 170;
   height: 170px;
   border-radius: 50%;
   margin-left: 25px;

}

.img{
    text-align: center;
}

